<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
            <a href="/blogs/<%=blog._id%>">
                <h2><%= blog.title %></h2>
                <p><%= blog.snippet %></p>
                <p><%= blog.body %></p>
                <p><%= blog.author %></p>
            </a>
        <% }) %>
    <% } else { %>
        <p>There is no blogs to display</p>
    <% } %>
    
</body>
</html>